**/*.o
*/.myscope/
pepsal-2.0.1/pepsal.txt
**/*.out
**/*.files
*.pyc
*.py~
debug_server
debug_client
debug_some
debug_read
playground/play_some
relay/debug_boss_rx
*.o
**/*.jpg
**/*.txt
**/*.log

#PEPSAL related
**.Po
**.log
**pepsal
**.status
pepsal-2.0.1/src/pepsal
