**/*.o
**/atom
stream/stream
netfilter/src/split
netfilter/split
receive/receive
**/split.log
netfilter_max/*
**/*.log
*/.myscope/
pepsal-2.0.1/pepsal.txt
**/*.out
**/*.files
*.pyc
*.py~
debug_server
debug_client
debug_some
debug_read
test_reorder
test_queue
debug_reorder
playground/play_some
relay/debug_boss_rx
*.o
**/*.jpg
**/*.txt
**/*.log

#PEPSAL related
**.Po
**.log
**pepsal
**.status
pepsal-2.0.1/src/pepsal

**/doxygen
**/figs
**/fork_trials
**/nfq_play
**/thread_trials
